*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#bodyIndex{
    background-color: rgb(150, 106, 42);
}
#bodyConfirm{
    background-color: rgb(196, 208, 219);
}
body{
    display: grid;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-items: center;
    --fontColor: black;

}

#sectionGrid{
    padding: 0 50px;
    background-color: aqua;
    border-radius: 8px;
    width: 40vw;
    height: 70vh;
}

#LoginGrid{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width:100%;
    height: 100%;


}
#Title{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: var(--fontColor);
}


.Griditens{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: start;

}
.Griditens input{
    height: 50%;
    border-radius: 8px;
}

#ButtonGrid input{
    height: 50%;
    padding: 0 50px;
    border-radius: 8px;
    background-color: rgb(32, 190, 32);
    color: #fff;
}
#ButtonGrid{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#ButtonGrid input[type=submit]{
    cursor: pointer;
}

#ConfirmGrid{
    display: grid;
    width: 50vw;
    height: 60vh;
    background-color: rgb(94, 155, 33);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(15, 107, 7);
    grid-template-rows: 4fr 1fr;
}
#butaoMessage a{
    height: 75px;
    width: 200px;
    cursor: pointer;
    background-color: rgb(80, 80, 80);
    border-radius: 8px;
    color: #ffffff;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    text-decoration: none;
}


#butaoMessage{
    display: grid;
    align-items: start;
    justify-content: center;
}

#message{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 4fr;

}
#message h1{
    color: #ffffff;
    font-size: 2.5em;
}

#GridShow{
    width: 100%;
    height: 100%;
    display: grid;
}

.DivsGridShow{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;

}